<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>gestion d'étudiant</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Fonction CRUD basée sur la gestion d'étudiant</h2>
    {% block content %}{% endblock %}

</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>


</body>
</html>